<section>
  <h1>WHO AM I</h1>
  <p><img style="width:150px; height:170px;" src="/images/head.jpg"></p>
  <p>I am Linfeng Zhang who is a brand new front-end devloper</p>
  <p>It's about turning IDEAS, PASSION, and A LOT OF COFFEE into a solution</p>
  <p>Being creative and making things keeps me happy</p>
  <p><img style="width:50px; height:50px;" src="/images/emailme.png"/>&nbsp;&nbsp;<img style="width:50px; height:50px;" src="/images/code.png"/>&nbsp;&nbsp;<img style="width:50px; height:50px;" src="/images/boy.png"/>&nbsp;&nbsp;<img style="width:50px; height:50px;" src="/images/cs.png"/>&nbsp;&nbsp;<img style="width:50px; height:50px;" src="/images/code1.png"/>&nbsp;&nbsp;<img style="width:50px; height:50px;" src="/images/code2.png"/></p>
</section>